SportsManagement_OLD/aboutus.html
SportsManagement_OLD/add_events.css
SportsManagement_OLD/add_events.php
SportsManagement_OLD/admin_signup.php
SportsManagement_OLD/Adminlogin.php
SportsManagement_OLD/avatar.png
SportsManagement_OLD/avatar2.svg
SportsManagement_OLD/chooseprofile.html
SportsManagement_OLD/config.php
SportsManagement_OLD/contact.html
SportsManagement_OLD/display_results.php
SportsManagement_OLD/events_registered.php
SportsManagement_OLD/gethint.php
SportsManagement_OLD/homepage.css
SportsManagement_OLD/homepage.html
SportsManagement_OLD/logout.php
SportsManagement_OLD/ongoing_events.php
SportsManagement_OLD/README.md
SportsManagement_OLD/results.php
SportsManagement_OLD/signup.php
SportsManagement_OLD/studentlogin.php
SportsManagement_OLD/students_page.css
SportsManagement_OLD/style.css
SportsManagement_OLD/xmlfile.xml
